module.exports = {
  root: true,
  env: {
    node: true
  },
  plugins: ['pretetier'],
  extends: ['eslint:recommended', 'plugin:vue/vue3-recommended', 'plugin:prettier/recommended', 'prettier'],
  rules: {
    semi: ['error', 'always']
  }
};
